#map-viewer {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  font-family: monospace;
}

.row {
  display: flex;
  flex: 1 1 0;
}

.tile {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  flex: 1 1 0;
  font-size: 1.25rem;
  text-align: center;
  color: white;
}

#map-floors {
  display: flex;
  flex-direction: column;
  width: fit-content;
  isolation: isolate;
}


.floor-btn-div {
  --next-prev-width: 30px;
  display: grid;
  grid-template-columns: var(--next-prev-width) auto var(--next-prev-width) 1fr;
  grid-template-areas: "prev floor next para";
  gap: 5px;
  height: 30px;
  transition: 300ms ease-in-out;
}

#map-floors:hover .floor-btn-div {
  height: 40px;
}

.floor-btn {
  width: calc(109px / 1.5);
  height: calc(92px / 1.5);
  position: relative;
  grid-area: floor;
  cursor: pointer;
  background-image: url(../media/images/btn-floor.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.floor-btn-div:not(:hover) .floor-btn-next,
.floor-btn-div:not(:hover) .floor-btn-prev {
  display: none;
}

.floor-btn-next,
.floor-btn-prev {
  text-align: center;
  border: 1px solid black;
  background-color: #333;
  height: 75%;
  align-self: flex-end;
  cursor: pointer;
  user-select: none;
}

.floor-btn-next {
  grid-area: next;
}
.floor-btn-prev {
  grid-area: prev;
}

.floor-btn.roof {
  background-image: url(../media/images/btn-floor-roof.png);
}

.floor-btn.basement {
  background-image: url(../media/images/btn-floor-basement.png);
}

.floor-om-terrain {
  grid-area: para;
  font-family: monospace;
  font-weight: 900;
  font-size: 1rem;
  color: #bbb;
  margin: 0;
  padding: 5px 0;
  height: fit-content;
  align-self: center;
  cursor: pointer;
  user-select: none;
}

.floor-om-terrain > span {
  color: #aaa;
  font-size: .9rem;
}

.floor-om-terrain:hover,
.floor-om-terrain:hover > span {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

/* tile test */
/* .tile {
  color: rgba(255, 255, 255, .1);
  --tileset-width: 16;
  --tile-x: 5;
  --tile-y: 20;
  background:
  calc(100% - 100% * var(--tile-x)) calc(100% - 100% * var(--tile-y))
  url(../../gfx/BrownLikeBears/tiles.png);
  image-rendering: pixelated;
  background-size: calc(100% * var(--tileset-width));
} */
