#map-viewer {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
}

.row {
  display: flex;
  flex: 1 1 0;
}

.tile {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  flex: 1 1 0;
  font-size: 1.25rem;
  text-align: center;
  color: white;
}
